/* ----------CSS RESET---------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Mūsu css */
body{
    background-color:#e6e6eb;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;}

.today-tasks, .upcoming-tasks, .personal-tasks, .work-tasks, .all-tasks {
    grid-column: 2;
    background-color: #ffffff;
}

.new-task, .edit-task {
    grid-column: 3;
    background-color: #ffffff;
}

nav, .today-tasks, .upcoming-tasks, .personal-tasks, .work-tasks, .all-tasks, .new-task, .edit-task {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
}

/* prieks navbar */
nav{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    
}
.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lists, .tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav_icon{
    width: 30px;
    height: 30px;
}
.menu{
    display: flex;
    justify-content: right;
}
.task_top,
.lists-top{
    display: flex;
    justify-content: left;
    gap:10px;
}
.tasks button,
.lists button{
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
#dark-mode{
    width: 60px; 
    height: 30px;
    background-color: #1f2937; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;  
    font-size: 15px;
    transition: background-color 0.3s; /
}
#txt{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

/* add task */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}
input, select, textarea{
    width: 500px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px;
}
form button{
    height: 30px;
    width: 400px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}
.add-top, 
.task-icon{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
}

/* output */
.tasks-output {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset;
    cursor: pointer;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}